{% extends "layout.html.twig" %}

{% block content %}
    <div class="col-12">
        <h1>Twitter Entity Analysis</h1>
        <form method="post" class="mt-3">
            <input type="hidden" name="_analyse" value="go" >
            <button type="submit" class="btn btn-dark">Analyse the Tweets!</button>
        </form>
    </div>
    <div class="col-12 mt-5">
        {% if data is not empty %}
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">Tweet ID</th>
                        <th scope="col">Content</th>
                        <th scope="col">Entity</th>
                        <th scope="col">Entity Type</th>
                    </tr>
                </thead>
                <tbody>
                    {% for tweet in data %}
                        <tr>
                            <th scope="row">{{ tweet.id }}</th>
                            <td>{{ tweet.content }}</td>
                            <td>{% if tweet.url is not empty %}<a href="{{ tweet.url }}">{{ tweet.entity }}</a>{% else %}{{ tweet.entity }}{% endif %}</td>
                            <td>{{ tweet.entity_type }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% endif %}
    </div>
{% endblock %}
